CONFIG_FREERTOS_HZ=1000
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED=40

#
# MicroCanvas2D Configuration
#
CONFIG_UCANVAS_MAX_UNIVERSAL_OBJ_INSTANCES=1024
CONFIG_UCANVAS_USE_PPA_FOR_RENDERING=n
CONFIG_UCANVAS_USE_SPIRAM=n
CONFIG_UCANVAS_TASK_STACK_SIZE=4096
CONFIG_UCANVAS_RENDER_TASK_STACK_SIZE=4096
CONFIG_UCANVAS_RENDER_TASK_PRIORITY=1
CONFIG_UCANVAS_TEXTBOX_MAX_CONTENT_SIZE=512

#
# Default Object Color
#
CONFIG_UCANVAS_DEFAULT_RED=0
CONFIG_UCANVAS_DEFAULT_GREEN=0
CONFIG_UCANVAS_DEFAULT_BLUE=0
# end of Default Object Color

# CONFIG_UCANVAS_USE_DOUBLE_BUFFERING is not set
CONFIG_UCANVAS_DIRTY_RECT_FALLBACK_FULL_PCT=10
# end of MicroCanvas2D Configuration